body{
    margin: 20px;
    background-color: black;
}
.toggle1, toggle2 {
    height: 650px;
    width: auto;
    margin: 0 auto;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.toggle1 {
    background-image: url("../images/abnr.jpg");
    background-position: center;
}

.toggle2 {
    background-image: url("../images/dust.jpg");
    background-position: center;
}

button {
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 2rem;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    border: none;
    
}

button:hover {
    background-image: radial-gradient(lightblue, black, black);
    color: black;
}

button img{
    height: 150px;
}

button:focus {outline:0;}